# Root node_modules
node_modules/

# Subdirectories node_modules
backend/node_modules/
frontend/node_modules/

# OS files
.DS_Store
Thumbs.db

# Environment files
backend/.env

# Build outputs
frontend/dist/